@model FamConnect.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Family Connect</h1>
            <h2>The Fun and Easy Way to Promote Family Unity</h2>
            <div class="step-container blue">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-users fa-stack-1x"></i>
                </span>
                <h3> Set Up Your Family </h3>
                <h4>The Team Captain registers the family account and creates the family by adding each family member. </h4>
            </div>

            <div>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-flag fa-stack-1x"></i>
                </span>
                <h3> Set a Milestone </h3>
                <h4>The Team Captian selects a desired point goal and enters a reward that will be earned when that Milestone is achieved.</h4>
            </div>

            <div>
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-pencil-square-o fa-stack-1x"></i>
                </span>
                <h3>Log Connections Actions </h3>
                <h4>The Team Captain logs actions by individual family members that bring members closer together and assigns points.</h4>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Start Connecting Today</h2>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Use this form to create your family's account</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Email, new { @class = "control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new
                   {
                       @class = "form-control",
                       placeholder = HttpUtility.HtmlDecode("&#xf0e0; Email Address"),
                       style = "font-family:Arial, FontAwesome"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.Password, new { @class = "control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new
                   {
                       @class = "form-control",
                       placeholder = HttpUtility.HtmlDecode("&#xf023; Password"),
                       style = "font-family:Arial, FontAwesome"
                   })
                    </div>
                </div>
                <div class="form-group">
                    @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })*@
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new
                   {
                       @class = "form-control",
                       placeholder = HttpUtility.HtmlDecode("&#xf00c; Confirm Password"),
                       style = "font-family:Arial, FontAwesome"
                   })
                    </div>
                </div>

                //adding additional fields to register view to accommodate additions made to the user model and accountviewmodel
                <div class="form-group">
                    @*@Html.LabelFor(m => m.FamilyName, new { @class = "control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.FamilyName, new
                   {
                       @class = "form-control",
                       placeholder = HttpUtility.HtmlDecode("&#xf0c0; Family Name"),
                       style = "font-family:Arial, FontAwesome"
                   })
                    </div>
                </div>

                <div class="form-group">
                    @*@Html.LabelFor(m => m.PathToFamilyPicture, new { @class = "col-md-2 control-label" })*@
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.PathToFamilyPicture, new
                   {
                       @class = "form-control",
                       placeholder = HttpUtility.HtmlDecode("&#xf03e; Family Photo"),
                       style = "font-family:Arial, FontAwesome"
                   })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
