<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!--ModalCSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/Modal.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Family Connect", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("FamilyMembers", "Index", "FamilyMembers")</li>
                    <li>@Html.ActionLink("Milestones", "Index", "Milestones")</li>
                    <li>@Html.ActionLink("ConnectionActions", "Index", "ConnectionActions")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>


            <!--modal button-->
            <a href="#myModal" role="button" class="btn btn-warning"
               data-toggle="modal"><span class="glyphicon glyphicon-hand-up"></span>Let's Get Started</a>
        </div>

    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Family Connect Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!--model window-->
    <!--another way to change the size of modal is "modal-dialog-sm or modal-dialog-lg"-->

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>

                    <!--Header number1-->
                    <!--  <h4 class="modal-title"></h4>-->
                    <center><img src="~/Content/images/familyconnectlogo.png" height="90" /></center>
                </div>
                <div class="modal-body">


                    <h1>STEP 1</h1>
                    <h1 class="createF">Create a Family</h1>

                    <div class="row">
                        <div class="col-md-6 picture-item col-centered">
                            <a href="http://placehold.it/750x450">
                                <center><img class="img-responsive" src="http://placehold.it/750x450" alt=""></center>
                                <br />
                            </a>
                        </div>
                        <!--  <div class="container1">
                        <!--images of each Create form are in the img src-->
                        <!-- <center>  <img src="~/Content/images/ConnectionAction.JPG"> </center>
                        <br />-->
                    </div>


                    <!--Header number2-->

                    <h1>STEP 2</h1>
                    <h1 class="createM">create a milestone</h1>
                    <div class="row">
                        <div class="col-md-6 picture-item col-centered">
                            <a href="http://placehold.it/750x450">
                                <center><img class="img-responsive" src="http://placehold.it/750x450" alt=""></center>
                                <br />
                            </a>
                        </div>

                        <!---<div class="container1">
                        <center>  <img src="~/Content/images/FamilyMembers.JPG" /> </center>
                        <br />-->
                    </div>



                    <!--Header number3-->
                    <h1>STEP 3</h1>
                    <h1 class="createA">Create an action connection</h1>
                    <div class="row">
                        <div class="col-md-6 picture-item col-centered">
                            <a href="http://placehold.it/750x450">
                                <center><img class="img-responsive" src="http://placehold.it/750x450" alt=""></center>
                                <br />
                            </a>
                        </div>
                        <!-- <div class="container1">
                        <center> <img src="~/Content/images/MileStone.JPG" /> </center>
                        <br />-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
