@model FamConnect.Models.FamilyMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FamilyMember</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathToMemberPhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathToMemberPhoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FamilyMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
