@model IEnumerable<FamConnect.Models.FamilyMember>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Your Family</h2>

    <p>
        <a href="@Url.Action("Create", "FamilyMembers")" class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="Add a new member"> <span class="glyphicon glyphicon-plus-sign"></span> Add</a>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="memberCard col-xs-12 col-md-6 col-lg-3">
                <img src="@Html.DisplayFor(modelItem => item.PathToMemberPhoto)" alt="Avatar" style="width:100%">
                <div class="container">
                    <h4><b>@Html.DisplayFor(modelItem => item.FirstName)</b></h4>
                    <p>Birthday: @Html.DisplayFor(modelItem => item.MemberDOB)</p>

                    <a href="@Url.Action("Edit", "FamilyMembers", new { id = item.FamilyMemberId })" class="btn btn-primary btn-sm"> <span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", "FamilyMembers", new { id = item.FamilyMemberId })" class="btn btn-danger btn-sm"> <span class="glyphicon glyphicon-trash"></span></a>

                </div>
            </div>
        }
    </div>
</div>